*{
    box-sizing: border-box;
}
.icon{
    position: relative;
    margin: 90px auto;
    width: 100px;
    height: 75px;
}
.icon span {
    background-color: black;
    width: 100%;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s;
}
.icon span:first-child{
    top: 0;
}
.icon span:nth-child(2) {
    top: 32px;
}
.icon span:last-child {
    top: 65px;
}
.icon:hover span:nth-child(2){
    opacity: 0;
}
.icon:hover span:first-child{
    top:32px;
    transform: rotateZ(45deg);
}
.icon:hover span:last-child{
    top: 32px;
    transform: rotateZ(-45deg);
}